* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
}

body a {
    color: black;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 3000px;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 100px;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px 50px;
}

.header a {
    font-size: 20px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 33px 25px 0 25px;
}


.menu a {
    font-weight: 600;
}    

.menu a:hover {
    color: #0065FC;
}

.selection_menu {
    padding-top: 30px  !important; 
    border-top: 2px #0065FC solid;
}

.selection_menu a {
    color: #0065FC;
}


.inscription {
    padding: 33px 50px 0 25px;
}


.inscription a {
    font-weight: 800;
    color: #0065FC;
}




/*main*/

main {
    margin: 0 60px;
}

h1 {
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: -1px;
 }

.recherche p {
    font-size: 21px;
    margin: 10px 0;
    letter-spacing: -1px;
 }

h2 {
    font-size: 30px;
}




 /* Barre de recherche */

 .barre_de_recherche {
     width: 550px;
     margin-top: 30px;
     border-radius: 10px;
    
 }

 .barre_de_recherche form {
    display: flex;
    align-items: center;
 }

 .fa-map-marker-alt {
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    padding: 19px 22px;  
    
 }

 .fa-map-marker-alt, .bouton_loupe i{
    font-size: 22px;   
}

.bouton_loupe {
    visibility: collapse;
}


.barre_de_recherche input {
    font-size: 20px;
    width: 63%;
    border: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding: 17px 0 17px 15px;
    font-family: 'Raleway';
}

.barre_de_recherche input::placeholder {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: black;
}

 .bouton_rechercher {
     width: 37%;
    border: none;
     border-radius: 0 15px 15px 0;
     padding: 17px 10px;
     background-color: #0065FC;
     font-size: 22px;
     color: white;
     font-weight: 600;
     font-family: 'Raleway';
     cursor: pointer;
 }

 .bouton_rechercher:hover {
     background-color: rgba(0, 101, 252, 0.9);     
 }


 
 
 /* Filtres*/


 .filtres {
     display: flex;
     align-items: center;
 }

.filtres h2 {
    font-size: 22px;
}

.filtres h3:hover {
    color: #0065FC;
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtres li {
    display: flex;
    align-items: center;
    margin: 30px 20px 30px 0;
    padding: 0 20px 0 0;
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
}

.filtres li:hover {
    background-color: #F2F2F2;
}

.filtres a {
    display: flex;
    align-items: center;
}

.filtres i {
    width: 56px;
    height: 100%;
    color: #0065FC;
    margin-right: 15px;
    padding: 20px;
    border-radius: 25px;
    background-color: #DEEBFF;
}

.filtres h3 {
    font-size: 22px;
    margin: 0;
}


/* Message d'information */

.message_information {
    display: flex;
    align-items: center;
}


.message_information i {
    font-size: 10px;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    padding: 6px 9px 6px 9px;
    margin-right: 10px;
}


/* Section Hébergement */

.hebergements {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.hebergements article {
    background-color: white;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0 3px 5px 1px lightgrey;
    
}

.hebergements article:hover {
    background-color: #DEEBFF;
}

.hebergements h4 {
    font-weight: 800;
    font-size: 20px;
    margin: 10px 0 5px 0;
    
}

.hebergements article p {
    margin-top: 0;
}

.note_hotel {
    display: flex;
}

.fa-star {
    color: #F2F2F2;
    margin-right: 1px;
}

.etoile_bleu {
    color: #0065FC;
}

/* Résultats principaux */


.resultats_principaux {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px;
}



.resultats_principaux .liste_hotels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.resultats_principaux article {
    width: 30%;
    min-width: 250px;   
}

.resultats_principaux img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.details_hebergements_principaux {
    padding: 0 0 10px 10px;
}

.afficher_plus{
    font-weight: 800;
    font-size: 20px;
    padding: 40px 30px;
    display: block;
}

.afficher_plus:hover {
    color: #0065FC;
}


/* Résultats les plus populaires */


.resultats_populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    margin: 0 0 0 50px;
    min-width: 30%;
}

.resultats_populaires article {
    width: 100%;
}

.titre_resultats_populaires{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.titre_resultats_populaires i{
    font-size: 25px;
}

.liste_hotels_populaires {
    display: flex;
    flex-wrap: wrap;
}

.resultats_populaires article a{
    display: flex;
}

.resultats_populaires article img {
    width: 40%;
    object-fit: cover;
    height: 180px;
    border-radius: 20px 0 0 20px;
}

.details_hebergements_populaires{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 20px 20px;
}


/* Section Activités */


.activites {
    margin-top: 100px;
}

.vignettes_activites {
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.vignettes_activites article {
    display: flex;
}

.vignettes_activites article:hover {
    background-color: #DEEBFF;
}

.vignettes_activites a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vignettes_activites h3 {
    height: 60px;
    margin:0;
    padding: 18px 0 18px 20px;
    font-size: 20px;
}


.vignettes_activites_grand_format {
    height: 100%;
    width: 22%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #DEEBFF;
}

.vignettes_activites_grand_format a {
    height: 100%;
}

.vignettes_activites_grand_format img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.vignettes_activites_petit_format {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.vignettes_activites_petit_format article {
    border-radius: 20px;
    box-shadow: 1px 1px 5px #F2F2F2;
}

.vignettes_activites_petit_format a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vignettes_activites_petit_format img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.moyenne_vignette_activite {
    height: 300px;
}

.moyenne_vignette_activite img {
    height: 240px;
}

.petite_vignette_activite {
    height: 240px;
}

.petite_vignette_activite img{
    height: 180px;
}


/*Footer*/

footer {
    display: flex;    
    background-color: #F2F2F2;
    margin-top: 100px;
    padding: 50px 0 50px 0px;
}

.menu_footer {
    width: 33%;
}

footer h3 {
    margin-left: 40px;
}

footer ul {
    list-style: none;   
}

footer li {
    margin-bottom: 10px;
}

footer a:hover {
    color: #0065FC;
    font-weight: 600;
}



/* Adaptation de Header aux petits écrans */


@media (max-width: 1500px) {
    .vignettes_activites h3 {
        font-size: 16px;
    }
}

@media (max-width:1250px) {

    main {
        margin: 0;
    }


/* Section Recherche */
    
    .recherche {
        padding: 0 20px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }

    .filtres ul {
        padding: 0;
        margin: 0 0 16px 0;
    }

    .filtres li {
        margin: 0 20px 20px 0 ;
    }


/* Section Hébergement */
    .hebergements {
        flex-direction: column;
    }

    .resultats_populaires {
        margin: 0 0 50px 0;
        border-radius: 0;
    }

    .resultats_populaires article{
        width: 100%;
        padding: 5px;
    }

    .resultats_principaux {
        order: 2;
        background-color: white;
    }

    .liste_hotels article {
        width: 100%;
    }

    .afficher_plus {
        padding: 20px 10px;
    }
    
    /* Section Activités */

    .activites {
        padding: 0 40px;
    }

    .vignettes_activites {
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .vignettes_activites article {
        justify-content: space-around;
    }

    .vignettes_activites h3 {
        font-size: 20px;
    }
    
    .vignettes_activites_petit_format {
        width: 100%;
    }

    .vignettes_activites_grand_format a {
        width: 100%;
    }
    

    .vignettes_activites_grand_format, .vignettes_activites_petit_format article {
        width: 100%;
        height: 300px;
        margin: 25px 0;
    }

    .vignettes_activites_grand_format img, .vignettes_activites_petit_format img {
        height: 75%;
    }
}

@media (max-width:900px) {
    
    /* Footer */

    footer {
        flex-direction: column;
    }

    .menu_footer {
        margin-bottom: 30px;
        width: 100%;
    }
    
}



@media (max-width: 700px) {
    


/* Header */

    .header {
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    .logo {
        position: static;
        padding: 10px 0px 0 25px;
        width: 50%;
    }

    .logo img {
        padding: 0;
        width: 60%;
    }
    
    .menu {
        width: 100%;
        order: 3;
    }

    .menu ul {
        padding: 0;
    }

    .menu li {
        width: 50%;
        text-align: center;
        border-bottom: 4px #F2F2F2 solid;
        padding-bottom: 10px;
    }
    
    .selection_menu {
        border-bottom: 4px #0065FC solid !important;
        border-top: none;
    }

    .inscription {
        width: 50%;
        padding: 25px 15px 25px 0;
        display: flex;
        order: 2;
        justify-content: flex-end;
    }

/* Barre de recherche */   

    .bouton_rechercher {
        visibility: collapse;
        position: absolute;
     }
     
     
     .bouton_loupe {
         visibility: visible;
         color: white;
         background-color: #0065FC;
         border: none;
        border-radius: 15px;
    
     }

     .bouton_loupe i {
        padding: 19px 15px;
     }
    
     .afficher_plus {
         padding: 0 10px;
     }
}




@media (max-width: 500px) {

    .header a {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .barre_de_recherche {
        width: 100%;
    }

    h2 {
        font-size: 21px;
    }

    .filtres h2 {
        font-size: 20px
    }

    .filtres h3 {
        font-size: 18px;
    }

    .recherche p {
        font-size: 16px;
    }

    .resultats_populaires, .resultats_principaux, .activites {
        padding: 20px 10px;
    }

    .hebergements h4 {
        font-size: 17px;
    }

    .hebergements p {
        font-size: 15px;
    }

    .afficher_plus {
        font-size: 17px;
    }

    .activites, footer {
        margin-top: 20px;
    }
    .vignettes_activites h3 {
        font-size: 15px;
    }
}
