* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 100%;
}

body a {
    color: black;
}


/* Header */

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px 50px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 33px 25px 0 25px;
}


.menu a {
    font-weight: 600;
}    

.selection_menu {
    padding-top: 30px  !important; 
    border-top: 2px #0065FC solid;
}

.selection_menu a {
    color: #0065FC;
}


.inscription {
    padding: 33px 50px 0 25px;
}


.inscription a {
    font-weight: 800;
    color: #0065FC;
}




/*main*/

main {
    margin: 0 60px;
}

h1 {
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: -1px;
 }

.recherche p {
    font-size: 21px;
    margin: 10px 0;
    letter-spacing: -1px;
 }


 /* Barre de recherche */

 .barre_de_recherche {
     max-width: 100%;
     width: 550px;
     height: auto;
     margin: 30px 0 0 0;
     border-radius: 10px;
    
 }

 .barre_de_recherche form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
 }

 .fa-map-marker-alt {
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    padding: 19px 22px;  
    
 }

 .fa-map-marker-alt, .bouton_loupe i{
    font-size: 21px;   
}

.bouton_loupe {
    visibility: collapse;
}


.barre_de_recherche input {
    width: 63%;
    border: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding: 21px 0 21px 15px;
    font-family: 'Raleway';
}

.barre_de_recherche input::placeholder {
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

 .bouton_rechercher {
     width: 37%;
    border: none;
     border-radius: 0 15px 15px 0;
     padding: 17px 10px;
     background-color: #0065FC;
     font-size: 22px;
     color: white;
     font-weight: 600;
     font-family: 'Raleway';
 }

 


 
 
 /* Filtres*/


 .filtres {
     display: flex;
     align-items: center;
 }

.filtres h2 {
    font-size: 22px;
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtres li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 30px 20px 30px 0;
    padding: 0 20px 0 0;
    border: 3px #F2F2F2 solid;
    border-left: none;
    border-radius: 30px;
}

.filtres i {
    width: 56px;
    height: 100%;
    color: #0065FC;
    margin-right: 15px;
    padding: 20px;
    border-radius: 30px;
    background-color: #DEEBFF;
}

.filtres h3 {
    font-size: 22px;
    margin: 0;
}


/* Message d'information */

.message_information {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.message_information i {
    font-size: 10px;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 40px;
    padding: 6px 9px 6px 9px;
    margin-right: 10px;
}


/* Section Hébergement */

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.hebergements h4 {
    font-weight: 800;
    font-size: 20px;
    margin: 10px 0 5px 0;
    
}

.hebergements article {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
}

.hebergements article p {
    margin-top: 0;
}


/* Résultats principaux */


.resultats_principaux {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
}


.resultats_principaux .liste_hotels {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


.resultats_principaux article {
    width: 30%;
   
}

.resultats_principaux img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.afficher_plus{
    font-weight: 800;
    font-size: 20px;   
}


/* Résultats les plus populaires */


.resultats_populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    margin: 0 0 0 50px;
    min-width: 30%;
}

.titre_resultats_populaires{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.titre_resultats_populaires i{
    font-size: 25px;
}

.resultats_populaires article{
    display: flex;
    flex-direction: row;
    
    height: 30%;
}

.resultats_populaires article img {
    width: 40%;
    object-fit: cover;
    height: 180px;
    border-radius: 20px 0 0 20px;
    margin-right: 10px;
}

.details_hebergements_populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
}


/* Section Activités */


.activites {
    margin: 100px 0 0 0;
}

.vignettes_activites {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vignettes_activites h3 {
    vertical-align: center;
    padding-left: 20px;
}

.vignettes_activites_grand_format {
    height: 100%;
    width: 22%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #DEEBFF;
}

.vignettes_activites_grand_format img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.vignettes_activites_petit_format {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.vignettes_activites_petit_format article {
    height: 45%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #F2F2F2;
}

.vignettes_activites_petit_format img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}



/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-top: 100px;
    padding: 50px 0 50px 50px;
}

footer h3 {
    margin: 0 0 0 40px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 350px;
}

footer li {
    margin: 0 0 10px 0;
}



/* Adaptation de Header aux petits écrans */


@media (max-width:1250px) {
    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 30px;
    }

    .filtres ul {
        padding: 0;
        margin: 0 0 16px 0;
    }

    .filtres li {
        margin: 0 20px 20px 0 ;
    }
}


@media (max-width: 700px) {

    main {
        margin: 0 20px;
    }



/* Header */

    .header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    .logo {
        position: static;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0px 0 25px;
        width: 50%;
    }

    .logo img {
        padding: 0;
    }
    
    .menu {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        order: 3;
        padding-top: 0;
    }

    .menu ul {
        width: 100%;
        padding: 0;
    }

    .menu li {
        width: 50%;
        text-align: center;
        border-bottom: 4px #F2F2F2 solid;
        padding-bottom: 10px;
    }
    
    .selection_menu {
        border-bottom: 4px #0065FC solid !important;
        border-top: none;
    }

    .inscription {
        width: 50%;
        padding: 25px 15px 25px 0;
        display: flex;
        order: 2;
        justify-content: flex-end;
    }

/* Barre de recherche */   

    .bouton_rechercher {
        visibility: collapse;
        display: flex;
        order: 2;
        position: absolute;
        left: 0;
         /*display: none;*/
     }
     
     
     .bouton_loupe {
         /*display: block;*/
         visibility: visible;
         display:flex;
         order: 1;
         color: white;
         background-color: #0065FC;
         border: none;
        border-radius: 15px;
    
     }

     .bouton_loupe i {
        padding: 19px 15px;  
     }
     
}
